.publication__panel {
  padding: 20px;
  background-color: #009FAC;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  justify-self: end;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  transition: all 1s ease;
}

.publication:hover .publication__panel {
  display: flex;
}
