.header {
  background-color: #000D26;
  display: flex;
  padding: 13px 160px;
  align-items: center;
}

@media screen and (max-width: 1248px) {
  .header {
    padding: 13px 80px;
  }

}

@media screen and (max-width: 950px) {
  .header {
    padding: 13px 40px;
  }

}

@media screen and (max-width: 830px) {
  .header {
    padding: 14px 39px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    padding: 10px;
  }
}
