.projects__select {
  width: 100%;
  height: 44px;
  background-color: #001337;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid;
  border-color: #009FAC;
  padding: 0;
  outline: none;
  margin: 0 0 20px 0;
  background-image: url('data:image/svg+xml,<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L7 7L13 1" stroke="white" stroke-linecap="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right;
  appearance: none;            /* remove arrow        */
  -webkit-appearance: none;    /* remove arrow Chrome */
  -moz-appearance: none;       /* remove arrow FF     */
  cursor: pointer;
  transition: all .5s ease;
}

.projects__select:hover  {
  background-image: url('data:image/svg+xml,<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M1 7L7 1L13 7" stroke="white" stroke-linecap="round"/></svg>');
}

@media screen and (min-width: 768px) {
  .projects__select {
    display: none;
  }
}
