.lead__title {
  font-family: "Open Sans";
  margin: 0 0 12px 0;
  font-size: 54px;
  line-height: 68px;
  letter-spacing: 0.1px;
  color: white;
  font-weight: 400;
}

@media screen and (max-width: 550px) {
  .lead__title {
    font-size: 32px;
    line-height: 44px;
  }
}
