.about-us__card-item-title {
  margin: 8px 0 20px;
  max-height: 90px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #001337;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .about-us__card-item-title {
    font-size: calc(14px + (18 - 14) * (100vw - 320px) / (768 - 320));
    line-height: calc(19px + (30 - 19) * (100vw - 320px) / (768 - 320));
    margin-bottom: calc(12px + (20 - 12) * (100vw - 320px) / (768 - 320));
  }
}