.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #001337;
  padding: 0 16px 20px 16px;
}

@media screen and (min-width: 768px) {
  .projects {
    padding: 0 39px 20px 39px;
  }
}
