.projects__header {
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-top: 40px;
  padding: 0;
}
