.projects__header {
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0 0 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .projects__header {
    font-size: 24px;
  }
}
